:root {
    --font-family: "proxima-nova", "Proxima Nova", sans-serif;
    --text-size-responsive-small-xs: .625rem;
    --text-size-responsive-small-sm: .75rem;
    --text-size-responsive-small-default: .875rem;
    --text-size-responsive-small-base: 1rem;
    --text-size-responsive-small-md: 1rem;
    --text-size-responsive-small-lg: 1.125rem;
    --text-size-responsive-small-xl: 1.25rem;
    --text-size-responsive-small-2xl: 1.5rem;
    --text-size-responsive-small-3xl: 1.75rem;
    --text-size-responsive-small-4xl: 2.25rem;
    --text-size-responsive-small-5xl: 3rem;
    --text-size-responsive-small-6xl: 3.75rem;
    --text-size-responsive-small-7xl: 4.5rem;
    --text-size-responsive-large-xs: .75rem;
    --text-size-responsive-large-sm: .875rem;
    --text-size-responsive-large-default: 1rem;
    --text-size-responsive-large-base: 1.125rem;
    --text-size-responsive-large-md: 1.25rem;
    --text-size-responsive-large-lg: 1.5rem;
    --text-size-responsive-large-xl: 1.75rem;
    --text-size-responsive-large-2xl: 2rem;
    --text-size-responsive-large-3xl: 2.25rem;
    --text-size-responsive-large-4xl: 2.75rem;
    --text-size-responsive-large-5xl: 3.5rem;
    --text-size-responsive-large-6xl: 4.25rem;
    --text-size-responsive-large-7xl: 5rem;
    --text-size-button-xs: .75rem;
    --text-size-button-sm: .875rem;
    --text-size-button-md: .875rem;
    --text-size-button-lg: 1rem;
    --text-size-button-xl: 1rem;
    --text-case-none: none;
    --text-decoration-none: none;
    --text-decoration-underline: underline;
    --line-heights-100pct: 100%;
    --line-heights-120pct: 120%;
    --line-heights-150pct: 150%;
    --font-weights-semibold: Semibold;
    --font-weights-regular: Regular;
    --font-weights-bold: Bold;
    --blue-100: #d0e3f9;
    --blue-200: #a1c8f3;
    --blue-300: #72aced;
    --blue-400: #4391e7;
    --blue-500: #1475e1;
    --blue-600: #105eb4;
    --blue-700: #0c4687;
    --blue-800: #082f5a;
    --blue-900: #04172d;
    --red-100: #fbcfd8;
    --red-200: #f6a0b1;
    --red-300: #f2708a;
    --red-400: #ed4163;
    --red-400-0-2: #ed416333;
    --red-500: #e9113c;
    --red-600: #ba0e30;
    --red-600-0-2: #ba0e3033;
    --red-700: #8c0a24;
    --red-800: #5d0718;
    --red-900: #2f030c;
    --purple-100: #dcccff;
    --purple-200: #be8fff;
    --purple-300: #b061ff;
    --purple-400: #962eff;
    --purple-500: #9000ff;
    --purple-600: #7100c7;
    --purple-700: #590099;
    --purple-800: #2d004d;
    --purple-900: #1e0132;
    --green-100: #cfc;
    --green-200: #8fff8f;
    --green-300: #57ff57;
    --green-400: #1fff20;
    --green-500: #00e701;
    --green-600: #00b801;
    --green-700: #008a01;
    --green-800: #004d00;
    --green-900: #013e01;
    --yellow-100: #fff2dd;
    --yellow-200: #ffdeaa;
    --yellow-300: #ffcc7b;
    --yellow-400: #ffb949;
    --yellow-500: #ff9d00;
    --yellow-600: #cd7f01;
    --yellow-700: #9c6000;
    --yellow-800: #633d00;
    --yellow-900: #301d00;
    --grey-100: #d5dceb;
    --grey-200: #b1bad3;
    --grey-300: #557086;
    --grey-350: #3d5564;
    --grey-400: #2f4553;
    --grey-500: #213743;
    --grey-600: #1a2c38;
    --grey-600-0-2: #1a2c3833;
    --grey-700: #0f212e;
    --grey-800: #071d2a;
    --grey-900: #071824;
    --black: #000;
    --white: #fff;
    --color-primary-base: #1475e1;
    --color-primary-on-primary: #fff;
    --color-primary-hover: #105eb4;
    --color-primary-on-primary-variant: #b1bad3;
    --color-primary-on-surface: #72aced;
    --color-secondary-base: #2f4553;
    --color-secondary-on-secondary: #fff;
    --color-secondary-hover: #557086;
    --color-secondary-on-secondary-variant: #b1bad3;
    --color-success-base: #00e701;
    --color-success-hover: #1fff20;
    --color-danger-base: #e9113c;
    --color-danger-hover: #ba0e30;
    --color-danger-on-danger: #fff;
    --color-success-on-success: #05080a;
    --color-success-on-success-variant: #008a01;
    --color-success-on-surface: #1fff20;
    --color-surface-primary-highest: #2f4553;
    --color-surface-primary-high: #213743;
    --color-surface-primary-base: #1a2c38;
    --color-surface-primary-low: #0f212e;
    --color-surface-primary-lowest: #071824;
    --color-surface-primary-on-surface: #fff;
    --color-surface-primary-on-surface-variant: #b1bad3;
    --color-surface-secondary-base: #fff;
    --color-surface-secondary-on-surface: #05080a;
    --color-surface-secondary-on-surface-variant: #fff;
    --color-info-base: #9000ff;
    --color-info-shade: #7100c7;
    --color-info-tint: #dcccff;
    --color-info-on-info: #fff;
    --color-info-hover: #7100c7;
    --color-error-base: #e9113c;
    --color-error-on-error: #fff;
    --color-error-hover: #ba0e30;
    --color-error-on-surface: #f2708a;
    --color-warning-base: #ff9d00;
    --color-warning-on-warning: #05080a;
    --color-warning-on-surface: #ffb949;
    --color-utils-outline: #64737b;
    --color-utils-outline-variant: #fff;
    --color-utils-scrim: #19293299;
    --color-utils-focus-on-surface: #fff;
    --color-utils-focus-on-surface-variant: #557086;
    --color-disabled-base: #dee1e31a;
    --color-disabled-on-disabled: #dee1e333;
    --color-disabled-on-surface: #dee1e366;
    --color-neutral-white: #fff;
    --color-neutral-black: #0a0a0a;
    --sizing-button-width-hug: auto;
    --sizing-button-icon-xs: .75rem;
    --sizing-button-icon-sm: .75rem;
    --sizing-button-icon-md: .875rem;
    --sizing-button-icon-lg: 1rem;
    --sizing-button-icon-xl: 1rem;
    --sizing-button-icon-load-sm: 1rem;
    --sizing-button-icon-load-lg: 1.25rem;
    --sizing-button-icon-load-none: 0;
    --spacing-none: 0;
    --spacing-sm: .125rem;
    --spacing-base: .25rem;
    --spacing-md: .375rem;
    --spacing-lg: .5rem;
    --spacing-xl: .625rem;
    --spacing-2xl: .75rem;
    --spacing-3xl: 1rem;
    --spacing-4xl: 1.25rem;
    --spacing-5xl: 1.5rem;
    --spacing-6xl: 2rem;
    --spacing-7xl: 3rem;
    --spacing-8xl: 4rem;
    --spacing-button-padding-horizontal-none: 0;
    --spacing-button-padding-horizontal-xs: .75rem;
    --spacing-button-padding-horizontal-sm: 1rem;
    --spacing-button-padding-horizontal-md: 1.25rem;
    --spacing-button-padding-horizontal-lg: 1.25rem;
    --spacing-button-padding-horizontal-xl: 1.75rem;
    --spacing-button-padding-vertical-none: 0;
    --spacing-button-padding-vertical-xs: .75rem;
    --spacing-button-padding-vertical-sm: .8125rem;
    --spacing-button-padding-vertical-md: .9375rem;
    --spacing-button-padding-vertical-lg: 1rem;
    --spacing-button-padding-vertical-xl: 1.125rem;
    --radius-none: 0;
    --radius-sm: .125rem;
    --radius-base: .25rem;
    --radius-md: .5rem;
    --radius-lg: 4rem;
    --border-thin: .0625rem;
    --border-light: .125rem;
    --border-medium: .25rem;
    --opacity-0: 0%;
    --opacity-10: 10%;
    --opacity-20: 20%;
    --opacity-30: 30%;
    --opacity-40: 40%;
    --opacity-50: 50%;
    --opacity-60: 60%;
    --opacity-70: 70%;
    --opacity-80: 80%;
    --opacity-90: 90%;
    --spacing-0-125: .125rem;
    --spacing-0-25: .25rem;
    --spacing-0-5: .5rem;
    --spacing-0-75: .75rem;
    --spacing-1: 1rem;
    --spacing-1-25: 1.25rem;
    --spacing-1-5: 1.5rem;
    --spacing-1-75: 1.75rem;
    --spacing-2: 2rem;
    --spacing-2-25: 2.25rem;
    --spacing-2-5: 2.5rem;
    --spacing-2-75: 2.75rem;
    --spacing-3: 3rem;
    --spacing-3-25: 3.25rem;
    --spacing-3-5: 3.5rem;
    --spacing-3-75: 3.75rem;
    --spacing-4: 4rem;
    --spacing-4-25: 4.25rem;
    --spacing-4-5: 4.5rem;
    --spacing-4-75: 4.75rem;
    --spacing-5: 5rem;
    --text-size-10xl: 7rem;
    --text-size-9xl: 6.25rem;
    --text-size-8xl: 5.5rem;
    --text-size-7xl-responsive-large: 5rem;
    --text-size-7xl: 4.75rem;
    --text-size-7xl-responsive-small: 4.5rem;
    --text-size-6xl-responsive-large: 4.25rem;
    --text-size-6xl: 4rem;
    --text-size-6xl-responsive-small: 3.75rem;
    --text-size-5xl-responsive-large: 3.5rem;
    --text-size-5xl: 3.25rem;
    --text-size-5xl-responsive-small: 3rem;
    --text-size-4xl-responsive-large: 2.75rem;
    --text-size-4xl: 2.5rem;
    --text-size-4xl-responsive-small: 2.25rem;
    --text-size-3xl-responsive-large: 2.25rem;
    --text-size-3xl: 2rem;
    --text-size-3xl-responsive-small: 1.75rem;
    --text-size-2xl-responsive-large: 2rem;
    --text-size-2xl: 1.75rem;
    --text-size-2xl-responsive-small: 1.5rem;
    --text-size-xl-responsive-large: 1.75rem;
    --text-size-xl: 1.5rem;
    --text-size-xl-responsive-small: 1.25rem;
    --text-size-lg-responsive-large: 1.5rem;
    --text-size-lg: 1.25rem;
    --text-size-lg-responsive-small: 1.125rem;
    --text-size-md-responsive-large: 1.25rem;
    --text-size-md: 1.125rem;
    --text-size-md-responsive-small: 1rem;
    --text-size-base-responsive-large: 1.125rem;
    --text-size-base: 1rem;
    --text-size-base-responsive-small: 1rem;
    --text-size-default-responsive-large: 1rem;
    --text-size-default: .875rem;
    --text-size-default-responsive-small: .875rem;
    --text-size-sm-responsive-large: .875rem;
    --text-size-sm: .75rem;
    --text-size-sm-responsive-small: .75rem;
    --text-size-xs-responsive-large: .75rem;
    --text-size-xs: .625rem;
    --text-size-default-fixed-responsive-small: .875rem;
    --transition-fast: .2s;
    --transition-medium: .25s;
    --transition-slow: .35s;
    --scrollbar-size: 6px;
    --focus-outline-width: var(--spacing-0-125);
    --focus-outline-grey: var(--focus-outline-width) solid var(--grey-200);
    --focus-outline-white: var(--focus-outline-width) solid var(--white);
    --mobile-footer-height: 68px;
    --header-height: 60px;
    --sidebar-header-background: var(--grey-700);
    --sidebar-main-background: var(--grey-700);
    --btn-shadow: var(--shadows-sm), var(--shadow-inset);
    --shadow-button-sm: 0rem .0625rem .1875rem #0003, 0rem .0625rem .125rem #0000001f;
    --input-color: var(--white);
    --input-background: var(--grey-700);
    --input-border: var(--grey-400);
    --input-placeholder: #566671;
    --input-hover-color: var(--white);
    --input-hover-border: var(--grey-300);
    --input-transition: var(--transition-medium);
    --input-font-weight: 600;
    --input-letter-spacing: 0;
    --input-border-radius: var(--radius-base);
    --input-border-width: 2px;
    --input-box-shadow: var(--shadows-sm);
    --input-button-divider: var(--grey-600);
    --label-font-size: var(--text-size-default);
    --label-color: var(--grey-200);
    --label-hover-color: var(--grey-100);
    --label-font-weight: 600;
    --label-letter-spacing: 0;
    --radio-img: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik00IDFDMi4zIDEgMSAyLjMgMSA0czEuMyAzIDMgMyAzLTEuMyAzLTMtMS4zLTMtMy0zIi8+PC9zdmc+);
    --checkbox-img: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiNGRkYiIGQ9Im02LjQgMS0uNy43LTIuOCAyLjgtLjgtLjgtLjctLjdMMCA0LjRsLjcuNyAxLjUgMS41LjcuNy43LS43IDMuNS0zLjUuNy0uN3oiLz48L3N2Zz4=);
    --logo-color: var(--white);
    --shadow-inset: inset 0 1px #ffffff0a;
    --button-divider: var(--grey-700);
    --shadows-sm: 0 1px 3px 0 #0003, 0 1px 2px 0 #0000001f;
    --shadows-md: 0 4px 6px -1px #1b171733, 0 2px 4px -1px #0000001f;
    --shadows-lg: 0 10px 15px -3px #0003, 0 4px 6px -2px #0000001a;
    --shadows-xl: 0 20px 25px -5px #0003, 0 10px 10px -5px #00000014;
    --shadows-2xl: 0 25px 50px -12px #0006;
    --shadows-inner: inset 0 2px 4px 0 #0003;
    --odd-radius: 4px;
    --odd-bg: var(--grey-900);
    --odd-skeleton-bg: linear-gradient(90deg, #fff0 0%, #5a81ab 50%, #fff0);
    --odd-hover-bg: var(--blue-800);
    --odd-name-color: var(--white);
    --odd-value-color: var(--blue-400);
    --odd-active-bg: var(--blue-500);
    --odd-active-name-color: #000;
    --odd-active-value-color: var(--white);
    --odd-suspended-bg: #071824;
    --odd-suspended-name-color: var(--white);
    --odd-suspended-value-color: var(--white);
    --market-border-radius: 4px;
    --market-toggle-bg: var(--grey-500);
    --market-content-bg: var(--grey-500);
    --market-box-shadow: 0px 2px 4px 0px #0003;
    --market-toggle-content-seperator-border: 2px solid var(--grey-400);
}